/* Reset CSS */
:root {
    --accentuate: rgba(43, 45, 66, 1);
    --accentuate-fade: rgba(43, 45, 66, .5);
    --window: rgb(215 242 228);
    /* --window: rgba(141, 153, 174, 1); */
    --dark-window: rgba(141, 153, 174, 1);
    --background: rgba(237, 242, 244, 1);
    --mouse-over: rgba(80, 86, 107, 1);
    --bright-red: rgba(239, 35, 60, 1);
    --windowBorder: rgb(80, 86, 107);

    --turquoise: rgb(200 241 239);
    --light-blue: rgb(203 237 249);
    --adamantite: rgb(197 225 211);
    --light-orange: rgb(250 222 192);
    --light-purple: rgb(248 222 253);

    --html-yellow: #FDA50D;
    --js-pink: #C92AB4;
    --css-blue: #155BD4;
    --gen-green: #51ED66;

    --navy-blue: #03045e;

    /* CSS HSL */
    --blue-to-lightblue: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

}

/* Disallows user from selecting text */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
  }

html {
    min-width: 375px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img, video * {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: SHARE-TECH;
    src: url("../fonts/ShareTechMono-Regular.ttf");
}

@font-face {
    font-family: ASAP;
    src: url("../fonts/Asap-Regular.ttf");
}

@font-face {
    font-family: FUGAZ_ONE;
    src: url("../fonts/FugazOne-Regular.ttf");
}

body {
    background: var(--blue-to-lightblue);
    /* background-color: var(--platinum); */
}

header {
    width: 100%;
    height: 50px;
}

/* Main CSS Section */
#text-picker{
    width: 60px;
    height: fit-content;
    padding: 6px 0px 10px 0px;
    position: absolute;
    top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all .4s ease-in;
}

#color-menu {
    width: 90%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: var(--accentuate-fade);
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}

#color-menu > span {
    margin: 0 auto;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}

.color-menu-items {
    position: relative;
}

.color-menu-items:hover,
.color-menu-items *:hover {
    cursor: pointer;
}

.colorCheckbox {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 16px;
    background-color: white;
    border-radius: 15px;
}

.bubbles {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: calc(100% - 6px);
    bottom: 6px;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

#checkboxOrange {
    border: 3px solid rgb(238 93 67);
    background-color: rgba(230, 154, 110, 11);
}

#orangeBubble {
    position: absolute;
    left: 2px;
    background-color: rgb(238 93 67);
    border: 1px solid black;
}


#checkboxBlue {
    border: 3px solid rgb(3, 0, 170);
    background-color: rgb(106, 195, 250);
}

#blueBubble {
    position: absolute;
    left: 2px;
    background-color: rgba(23, 190, 227, 1);
    border: 1px solid black;
}

#checkboxWhite {
    border: 3px solid rgb(255 255 255);
    background-color: rgba(238, 238, 238, 0.925);
}

#whiteBubble {
    position: absolute;
    left: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

#checkboxYellow {
    border: 3px solid rgba(255, 230, 109, 1);
    background-color: rgba(240, 225, 167, .8);
}

#yellowBubble {
    position: absolute;
    bottom: 5px;
    left: 2px;
    background-color: rgba(255, 230, 109, 1);
    border: 1px solid black;
}

#checkboxGreen {
    border: 3px solid rgb(48, 143, 0);
    background-color: rgb(175, 219, 154);
}

#greenBubble {
    position: absolute;
    bottom: 5px;
    left: 2px;
    background-color: rgba(84, 177, 38, 1);
    border: 1px solid black;
}

#timer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: white;
    display: none;
    transition: all .5 ease-in;
}

#sumNode {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 180px;
    right: 10px;
    font-family: FUGAZ_ONE, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 6px;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgb(204, 0, 255);
}

#game-window {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    border: 5px solid var(--accentuate);
    box-shadow: inset 2px 3px 6px 5px var(--accentuate-fade);
    /* inset -9px -6px 6px 0px var(--light-purple) - will add back in for light gray/white to offset shadow */
}

#quiz-container {
    width: 80%;
    height: 85%;
    margin: 30px auto 0 auto;
    display: grid;
    grid-template:
            "quiz-header quiz-header" 70%
            "answer-1    answer-2"
            "answer-3    answer-4"
            ;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 10px;
    max-width: 800px;
    border-radius: 15px;
    padding: 5px;
}

#quiz-header {
    grid-area: quiz-header;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
}

/* div wrapper for the title for decoration */
#header-title-div {
    box-shadow: 3px 3px 5px black;
    min-width: 150px;
    max-width: 325px;
    height: 40px;
    position: relative;
    background-color: white;
    border-top-left-radius: 3px;
}

#quiz-header-title {
    width: 300px;
    height: 35px;
    font-family: SHARE-TECH;
    font-size: 24px;
    padding: 5px 0px 0px 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#quiz-header-content {
    width: 85%;
    min-width: 300px;
    min-height: 100px;
    height: fit-content;
    flex-grow: 1;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--light-blue);
    box-shadow: 2px 2px 4px black;
    border-radius: 5px;
    font-size: 18px;
}

#quiz-header-status {
    width: 40%;
    min-width: 150px;
    max-width: 200px;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: -40px;
    display: block;
    transition: bottom .2s ease-in;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid blue;
}

#quiz-header-message {
    height: 20px;
    margin-bottom: 3px;
    width: fit-content;
    position: absolute;
    bottom: 5px;
    right: 105%;
    transition: all .25s ease-out;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

#quiz-question {
    width: calc(100% - 100px);
    height: 80%;
    margin: 15px 25px;
    background-color: black;
    color: white;
    font-family: monospace, 'Courier New', Courier;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quiz-question-text {
    margin: 0px 15px 15px 15px;
    padding-top: 15px;
}

#question-select {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deck-choices {
    flex-grow: 1;
    max-width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.ranges {
    width: 80%;
    
}


/* CSS for text under sliders */
#html + p {
    color: var(--html-yellow);

}

#js + p {
    color: var(--js-pink);
}

#css + p {
    color: var(--css-blue);
}

#gen + p {
    color: var(--gen-green)
}


.deck-choices p {
    display: inline;
}

#quiz-header-title,
.ranges {
    /* Reset textarea CSS */
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.buttons {
    width: 50px;
    height: 25px;
    background-color: var(--accentuate);
    color: white;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    text-align: center;
}

#prev-button{
    top: 30px;
    right: 10px;
    display: none;
}

#submit-button {
    bottom: 30px;
    right: 10px;
    transition: all .2s linear;
}

#submit-button:hover {
    background-color: var(--mouse-over);
}

.answer-options {
    width: 95%;
    height: 95%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ASAP, Calibrai, Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: all .6s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
}

#answer-1 {
    grid-area: answer-1;
    border-radius: 5px 5px 0px 5px;
}

#answer-2 {
    grid-area: answer-2;
    border-radius: 5px 5px 5px 0px;
}

#answer-3 {
    grid-area: answer-3;
    border-radius: 5px 0px 5px 5px;
}

#answer-4 {
    grid-area: answer-4;
    border-radius: 0px 5px 5px 5px;
}

.answer-text {
    width: 90%;
    height: 90%;
}

/* Footer CSS */
footer {
    width: 100%;
    height: 100px;
}

#hint-bubble {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    position: relative;
}

#hint-content {
    width: 300px;
    height: 70px;
    position: absolute;
    top: 15px;
    left: 90px;
    border-radius: 0px 15px 0px 0px;
}

@media screen and (max-width: 1000px){
    #quiz-header-content{
        font-size: 16px;
    }
}

@media screen and (max-width: 875px){
    #quiz-header-content {
        font-size: 14px;
    }

    #question-select {
        flex-basis: 50%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 535px){
    
    #game-window {
        width: 95%;
    }

    #quiz-header {
        justify-content: center;
    }

    #quiz-header-title-div {
        margin: 0 auto;
        width: 100px;
    }

    #quiz-header-title {
        width: 100%;
        font-size: 18px;
        text-align: center;        
    }

    #quiz-question {
        margin: 4px auto;
        padding: 10px;
        width: 90%;
    }

    #quiz-header-content {
        font-size: 12px;
        min-width: 150px;
    }
    
    #quiz-container {
        grid-template:
            "quiz-header" 80%
            "answer-1 answer-2"
            "answer-3 answer-4"
            ;
        margin: 10px auto;
        width: 95%;
    }

    #prev-button{
        top: 244px;
        left: 10px;
        display: none;
    }
    
    #sumNode {
        width: 40px;
        height: 40px;
        top: calc(100% - 40px);
        right: calc(50% - 20px);
    }

    #submit-button {
        bottom: 5px;
        right: 10px;
        transition: all .2s linear;
    }

    #text-picker{
        top: 92%;
        left: calc(50% - 125px);
        width: 250px;
        height: 40px;
    }
    
    #color-menu{
        flex-direction: row;
        flex-wrap: nowrap;
        height: 40px;
        transform: scale(.8);
    }

    .color-menu-items {
        rotate: -90deg;
    }

    #answer-1, #answer-2, #answer-3, #answer-4 {
        border-radius: 5px 5px 5px 5px;
    }
}